/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS. */
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%}

/* apply a natural box layout model to all elements */
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }





 /* -----------------------BODY ------------------------------- */ 

header, nav, main, footer {max-width: 75rem; font-family: "lato";}



body{
    font-family: $defaultFont; 
    font-weight: $normalWeight; 
    font-size: 16px; 
    
}

/* ------------------------HEADER----------------------------- */



div#wrappertopHeader {
    background-color: $thirdColor;
    height: 100px;
    box-shadow: 2px 2px 10px 0px #666666; 
    margin-bottom: 10px; 
    z-index: -2; 
}

header {


.topnav-center {

margin-top: 40px; 
font-size: 24px; 

}

.material-icons {

margin-top: 20px;     


a:link {
color: $primaryColor; 


}

a:hover {
color: $secondaryColor; 

}


}



}


/* ------------------------END HEADER----------------------------- */





/* ------------------------TOPNAV----------------------------- */



.material-icons {
    font-size: 52px; 
    color: $primaryColor; 

a:hover {
color: $fourthColor; 

}

a:visited {
color: $primaryColor; 


}

}



// end of topnav








/* ------------------------MAIN----------------------------- */

main {
    //min-height: 20rem;
    padding: 1rem 2%;
    //display: grid; 
    //grid-template-columns: 1fr 1fr 1fr 1fr;
    //grid-column-gap: 10px;
    //grid-row-gap: 10px;  
    
     
    .quizName {
        clear: both; 
        text-align: center;  
        font-size: 24px;  
        color: $primaryColor; 
        
    
    } 


.skills {

font-size: 24px; 
padding: 10px 0px; 
text-align: center; 

}






/* ------------------------NAVIGATION----------------------------- */



div#wrapperNav { 
    clear: both; 
    background-color: $thirdColor;
     
     
         
}


.container-questions {
    border: 1px solid $primaryColor;
    height: 100%;  
    clear: both;  
    background-color: $thirdColor; 
    font-size: 10px; 
    
    ul li { 
      width: 100%; 
      list-style-type: none; 
      font-size: 20px; 
     
        
    }
    
    ul li:last-child {border-right: none;}
    
    ul li a {      
     display: block;  
     text-align: center;  
     padding: 1rem 1rem; 
     color: $primaryColor; 
     text-decoration: none;
     transition: background 0.75s ease, color 0.75s ease; 
        
    } // end of anchors
    
      ul li.active a {
        background-color: darken($primaryColor, 10%);  
        color: $secondaryColor; 
    }
    
    
    
    ul li a:hover {
        color:$thirdColor; 
        background-color: $primaryColor; 
        
    }

    li span.material-icons {
        opacity: 0; 
        font-size: 24px;
        padding-left: 10px; 
    


    }

    li span.material-icons-toggle {
        opacity: 1; 
        color: green; 
        font-size: 24px;
        padding-left: 10px; 
      
        a:hover {
            color: green; 
    
        }



    }


    .submitButton {
     
        text-align: right; 
        padding: 20px 10px; 
        opacity: 0.2; 
    
    button {
        font-size: 20px; 
        padding: 12px; 
        background-color: $primaryColor;
        width: 100%;
        color: $thirdColor; 
    
    }
    
    
    
    .submitButton-2 {
        background-color: $secondaryColor;
        opacity: 1; 
        } 
    
    
         
    
    
    }
       
          

  
  
}



    
 // end nav


h2 {
    font-size: .5rem; 
    margin: .75rem 0 0 0; 
    color: lighten( $primaryColor, 10% ); 
} // end h2


h3 {
    font-size: 1.2rem; 
    color: lighten( $primaryColor, 20%); 
    
} // end h3


p {
    font-size: 1.2rem; 
    color: $thirdColor; 
    margin: 10px; 
    
}  // end p



.questionnumberStyle {
    padding: 20px 0px; 
    font-size: 28px; 
    color: $primaryColor; 
    text-align: left;  
    border-bottom: 1px solid $primaryColor; 
    margin-bottom: 40px; 

}

.questionnumberStyle:after {
opacity: 1; 


}

.questionStyle {
    padding: 20px 0px; 
    font-size: 24px; 
    color: $primaryColor; 
    text-align: left;  

}

.questionStyleOne {
    padding: 20px 0px; 
    font-size: 24px; 
    color: $primaryColor; 
    text-align: center;  

}

.allChoices {
    display: block; 
    list-style-type: none; 
    margin-top: 40px; 
    width: 100%;
    text-align: center; 

    .answerChoice { 
        float: left; 
        padding: 10px 30px; 
        margin: 40px 10px; 
        width: 27%;  
        background-color: $primaryColor; 
        color: white; 
        font-size: 24px; 


    }


    .answerChoice-2 {
        float: left; 
        padding: 10px 30px; 
        margin: 40px 10px; 
        width: 27%;  
        background-color: $fourthColor; 
        color: white; 
        font-size: 24px;
    }

    
    .answerChoice-3 {
        float: left; 
        padding: 10px 30px; 
        margin: 40px 10px; 
        width: 27%;  
        background-color: $primaryColor; 
        color: white; 
        font-size: 24px;
    }




}




.feedback {
    font-size: 24px; 
    margin: 50px; 
    color: $primaryColor; 

}






/*----------------Column Layout -------------*/

//.row {margin-top: 50px; }

//.column{
//  -webkit-column-gap: normal; /* Chrome, Safari, Opera */
//  -moz-column-gap: normal; /* Firefox */
  
 
//}

//@for $i from 1 through 12 {
//    $w: ($i / 12) * 100%;
//    .small-#{$i} {width: $w; float: left;}
    
// }








}



/* ------------------------FOOTER----------------------------- */

div#wrapperFooter {
    background-color: $thirdColor;
    z-index: 999;
    box-shadow: 2px 2px 10px 0px #666666; 
    height: 75px; 
    margin-top: 100px; 
}




footer {
    background-color: $thirdColor; 
    height: 75px;   
    margin-top: 100px;
   
    
    p {  
      color: $footerfontColor; 
      padding: 2rem 0;     
      font-size: .9rem;
      text-align: center; 
     
      p a {
        color: $footerfontColor;  
         
     } 

     
        
    }  // end p 
    
   
    
/*    
   
div.apple { grid-row: 1; grid-column: 1; align-self: start; } 
div.pear { grid-row: 2; grid-column: 1; }     
div.banana { grid-row: 3; grid-column: 1; }  
div.plum { grid-row: 4; grid-column: 1; }        
    
 */   
    
   




}







/* ------------------------Clearfix: Force an Element not to collapse----------------------------- */
 
    .clearfix:after {
        content: ""; 
        display: table; 
        
        
    }    
    





