html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

body {
  line-height: 1; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

nav ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none; }

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold; }

del {
  text-decoration: line-through; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0; }

/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS. */
html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

/* apply a natural box layout model to all elements */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

/* -----------------------BODY ------------------------------- */
header, nav, main, footer {
  max-width: 75rem;
  font-family: "lato"; }

body {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-size: 16px; }

/* ------------------------HEADER----------------------------- */
div#wrappertopHeader {
  background-color: white;
  height: 100px;
  box-shadow: 2px 2px 10px 0px #666666;
  margin-bottom: 10px;
  z-index: -2; }

header .topnav-center {
  margin-top: 40px;
  font-size: 24px; }
header .material-icons {
  margin-top: 20px; }
  header .material-icons a:link {
    color: #1B75BC; }
  header .material-icons a:hover {
    color: #A60332; }

/* ------------------------END HEADER----------------------------- */
/* ------------------------TOPNAV----------------------------- */
.material-icons {
  font-size: 52px;
  color: #1B75BC; }
  .material-icons a:hover {
    color: #666666; }
  .material-icons a:visited {
    color: #1B75BC; }

/* ------------------------MAIN----------------------------- */
main {
  /*---------------------Side Nav----------------------------*/
  /* Fixed sidenav, full height */
  /* Style the sidenav links and the dropdown button */
  /* On mouse-over */
  /* Add an active class to the active dropdown button */
  /* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */
  /* Optional: Style the caret down icon */
  /* ------------------------NAVIGATION----------------------------- */
  /*----------------Column Layout -------------*/ }
  main .sidenav1 {
    background-color: #666666;
    overflow-x: hidden;
    margin: 0px;
    opacity: .5; }
  main .col-1 {
    background-color: #666666; }
  main .sidenav1 a, main .dropdown-btn {
    padding: 8px 6px 16px;
    text-decoration: none;
    font-size: 14px;
    color: white;
    display: block;
    border: none;
    background: none;
    width: 50%;
    text-align: center;
    cursor: pointer;
    outline: none; }
    main .sidenav1 a .material-icons, main .dropdown-btn .material-icons {
      margin: 0 auto;
      text-align: center;
      width: 50%; }
  main .sidenav1 a:hover, main .dropdown-btn:hover {
    color: #1B75BC;
    opacity: 1; }
  main .active {
    background-color: green;
    color: white; }
  main .dropdown-container {
    display: none;
    background-color: #262626;
    padding-left: 8px; }
  main .fa-caret-down {
    float: right;
    padding-right: 8px; }
  main .quizName {
    clear: both;
    text-align: center;
    font-size: 24px;
    color: #1B75BC; }
  main .skills {
    font-size: 24px;
    padding: 10px 0px;
    text-align: center; }
  main div#wrapperNav {
    clear: both;
    background-color: white; }
  main .container-questions {
    border: 1px solid #1B75BC;
    height: 100%;
    clear: both;
    background-color: white;
    font-size: 10px; }
    main .container-questions ul li {
      width: 100%;
      list-style-type: none;
      font-size: 20px; }
    main .container-questions ul li:last-child {
      border-right: none; }
    main .container-questions ul li a {
      display: block;
      text-align: center;
      padding: 1rem 1rem;
      color: #1B75BC;
      text-decoration: none;
      transition: background 0.75s ease, color 0.75s ease; }
    main .container-questions ul li.active a {
      background-color: #15598f;
      color: #A60332; }
    main .container-questions ul li a:hover {
      color: white;
      background-color: #1B75BC; }
    main .container-questions li span.material-icons {
      opacity: 0;
      font-size: 24px;
      padding-left: 10px; }
    main .container-questions li span.material-icons-toggle {
      opacity: 1;
      color: green;
      font-size: 24px;
      padding-left: 10px; }
      main .container-questions li span.material-icons-toggle a:hover {
        color: green; }
    main .container-questions .submitButton {
      text-align: right;
      padding: 20px 10px;
      opacity: 0.2; }
      main .container-questions .submitButton button {
        font-size: 20px;
        padding: 12px;
        background-color: #1B75BC;
        width: 100%;
        color: white; }
      main .container-questions .submitButton .submitButton-2 {
        background-color: #A60332;
        opacity: 1; }
  main h2 {
    font-size: .5rem;
    margin: .75rem 0 0 0;
    color: #2a90e0; }
  main h3 {
    font-size: 1.2rem;
    color: #56a7e7; }
  main p {
    font-size: 1.2rem;
    color: white;
    margin: 10px; }
  main .questionStyles {
    border: 1px solid #1B75BC;
    height: 450px;
    margin-bottom: 40px; }
  main .questionnumberStyle {
    padding: 20px 20px;
    font-size: 28px;
    background-color: #1B75BC;
    color: white;
    text-align: left;
    border-bottom: 1px solid #1B75BC;
    margin-bottom: 40px; }
  main .questionnumberStyle:after {
    opacity: 1; }
  main .questionStyle {
    padding: 20px 20px;
    font-size: 24px;
    color: #1B75BC;
    text-align: left; }
  main .questionStyleOne {
    padding: 20px 0px;
    font-size: 24px;
    color: #1B75BC;
    text-align: center; }
  main .allChoices {
    display: block;
    list-style-type: none;
    margin-top: 40px;
    width: 100%;
    text-align: center; }
    main .allChoices .answerChoice {
      float: left;
      padding: 10px 30px;
      margin: 40px 10px;
      width: 27%;
      background-color: #1B75BC;
      color: white;
      font-size: 24px; }
    main .allChoices .answerChoice-2 {
      float: left;
      padding: 10px 30px;
      margin: 40px 10px;
      width: 27%;
      background-color: #666666;
      color: white;
      font-size: 24px; }
    main .allChoices .answerChoice-3 {
      float: left;
      padding: 10px 30px;
      margin: 40px 10px;
      width: 27%;
      background-color: #1B75BC;
      color: white;
      font-size: 24px; }
  main .feedback {
    font-size: 24px;
    margin: 50px;
    color: #1B75BC; }

/* ------------------------FOOTER----------------------------- */
div#wrapperFooter {
  background-color: white;
  z-index: 999;
  box-shadow: 2px 2px 10px 0px #666666;
  height: 75px;
  margin-top: 100px; }

footer {
  background-color: white;
  height: 75px;
  margin-top: 100px;
  /*    
     
  div.apple { grid-row: 1; grid-column: 1; align-self: start; } 
  div.pear { grid-row: 2; grid-column: 1; }     
  div.banana { grid-row: 3; grid-column: 1; }  
  div.plum { grid-row: 4; grid-column: 1; }        
      
   */ }
  footer p {
    color: #000000;
    padding: 2rem 0;
    font-size: .9rem;
    text-align: center; }
    footer p p a {
      color: #000000; }

/* ------------------------Clearfix: Force an Element not to collapse----------------------------- */
.clearfix:after {
  content: "";
  display: table; }

@media only screen and (min-width: 560px) {
  /* ------------------------HEADER----------------------------- */
  /*-------------------- MAIN ------------------------------ */
  main {
    /*----------------Column Layout -------------*/ }
    main .topnav .topnav-center {
      font-size: 28px; }
    main .topnav .topnav-right {
      left: 90%; }

  /*----------------FOOTER--------------------
  
  
  footer {
      grid-template-columns: 1fr 1fr;
      
    
      
   p {
       text-align: center;   
       grid-column: 1 / span 2;  
      }
           
      
      
     
  div.apple { grid-row: 1; grid-column: 1; align-self: start; } 
  div.pear { grid-row: 1; grid-column: 2;}     
  div.banana { grid-row: 2; grid-column: 1; }  
  div.plum { grid-row: 2; grid-column: 2; }        
      
   
      
  }    
  
  
  
  div#wrapperFooter {
      clear: both; 
      background-color: $primaryColor;
  }
  
  
  
  
  
      
  ----------------END FOOTER--------------------*/ }
/* end media query */
@media only screen and (min-width: 1140px) {
  /* -----------------------BODY ------------------------------- */
  /*-------------------- HEADER ------------------------------ */
  /*-------------------- MAIN ------------------------------ */
  main {
    /*  
    grid-template-columns: 1fr 1fr 1fr 1fr; 
        
        
    div.lead { grid-row: 1 / span 2; grid-column: 1 / span 2;} 
    div.secondTop { grid-row: 1; grid-column: 3 / span 2;}      
    div.secondBot { grid-row: 2; grid-column: 3 / span 2;}  
        
          
     */
    /*----------------Column Layout -------------*/ }
    main .topnav-right {
      left: 90%; }

  /*-------------------- FOOTER ------------------------------ */
  /*
  footer { 
      grid-template-columns: 1fr 1fr 1fr 1fr;
      
      
      p {
       text-align: center;   
       grid-column: 2 / span 2;  
      }
       
      
      
     
  div.apple { grid-row: 1; grid-column: 1; align-self: start; } 
  div.pear { grid-row: 1; grid-column: 2; }     
  div.banana { grid-row: 1; grid-column: 3; }  
  div.plum { grid-row: 1; grid-column: 4; }        
      
      
      
      
      
      
      
      
      
      
      
  }*/
  /*
  
  div#wrapperFooter {
      clear: both; 
      background-color: $thirdColor;
  }
  
  
  */ }
/* end media query */
